
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatterChums - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>

<body>
    <div >
        <div class="big-logo">
            <img  src="{% static 'images/logo.png' %}" alt="Logo" />
            <h1>ChatterChums</h1>
        </div>
    </div>
    
<!-- main Content -->
<div>
    <h2 class="form-title"></h2>Create an account</h2>
    <p class="form-subtitle">Enter your email to sign up for this app</p>
    <form method="post" class="signup-form">
        {% csrf_token %}
        {{ form.email }}
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button class= "submit" type="submit">Sign Up</button>
    </form>
    <div class="separator">
        <span>or</span>
    </div>

    <a href="{% url 'users:login' %}" class="btn-secondary">Login to existing account</a>

    
</div>


</body>
</html>
