
{% extends 'base.html' %}

{% block title %}Home | ChatterChums{% endblock %}


{% block content %}


    <div class="hero-section">
        <h1>ChatterChums</h1>
        <p>Make your account to get chattering with new chums</p>
        <div class="buttons">
            <a href="{% url 'users:signup' %}"> <button class="btn btn-signup">Sign Up</button></a>
            <a href="{% url 'users:login' %}"> <button class="btn btn-login">Login</button></a>
        </div>
    </div>

    
{% endblock %}
